useDynLib(fastphylosig, .registration = TRUE)
importFrom(Rcpp, evalCpp)
export(fast_signal)
export(fast_k)
export(fast_lambda)
export(fast_d)
export(fast_delta)
export(fast_ace)
export(prepare_tree)
export(cache_info)
export(match_tree_data)
export(match_phylo_data)
export(plot_signal)
export(check_tree)
export(resolve_tree)
S3method(print,fastphylosig_tree_check)
S3method(print,fastphylosig_resolved_tree)
S3method(print,fastphylosig_result)
S3method(summary,fastphylosig_result)
S3method(as.data.frame,fastphylosig_result)
S3method(print,fastphylosig_table)
S3method(summary,fastphylosig_table)
S3method(as.data.frame,fastphylosig_table)
S3method(print,summary.fastphylosig_result)
